/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
 }

 div.navbar > .button {
    background-color: #b6483a;
    color: #ededed;
 }

h1.title {
    color: #2e3047;
    margin-left: 10px;
    font-family: monospace, fantasy;
}

h1.product-subtitle {
    margin-left: 10px;
    color: #2e3047;
    font-family: monospace, fantasy;
}

h1.success-title {
   margin-left: 10px;
   color: #3c773f;
   font-family: monospace, fantasy;
}

div.background-image > img {
    width: 100%;
}

 .notice {
    color:#3c773f;
 }

 div.product-layout {
    display: flex;
    flex-wrap: wrap;
 }

 div.product-layout > div {
    margin: 10px;
    /* border: 1px black solid; */
    padding: 10px;
    width: 20%;
 }

 div.product-layout > div.image > img {
    width: 100%;
 }

 div.product-layout > div.image > .product-title {
   font-weight: bold;
   font-size: 1.2em;
 }

 .guide-section {
    display:flex
 }

 .guide-section > .guide-info {
    padding-left: 20px;
 }

 .guide-title {
    margin-left: 10px;
    color: #2e3047;
    font-family: monospace, fantasy;
 }

 .guide-introduction {
    margin-left: 10px;
 }

 div.product-information {
   margin-left: 10px;
 }