<p style="color: green"><%= notice %></p>

<%= render @message %>

<div>
  <%= link_to "Back", messages_path, class:"button" %>

  <%= button_to "Delete", @message, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>
