<h1 class="messages">My Orders</h1>
 
<div id="my-orders">
<table>
    <tr>
      <th>Product</th>
      <th>Order Date</th>
      <th></th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product.title %></td>
        <td><%= order.created_at.in_time_zone('Sydney').to_formatted_s(:short) %></td>
        <td><%= link_to "Show product", order.product, class:"button" %></td>
      </tr>
    <% end %>
  </table>
</div>