<h1>Welecome to vintage market</h1>
<h2>Vintage Condition Guide</h2>

<p>This is a widely used guide, but not all vintage sellers are the same, so do ask for additional information if you require clarification.

We pride ourselves on the immacliate condition of our vintage. Any imperfections will always be clearly disclosed, and described in all vintage product listings.

Our vintage is graded for condition, using the following categories:</p>

<ul>
<li>As New:</li>
Labels are intact, no signs of wear, no damage.

<li>Near Perfect - Mint:</li>
Shows only the slightest signs of being worn.

<li>Excellent:</li>
Shows typical, although minor, signs of wear.

<li>Very Good:</li>
Considered wearable but has some surface flaws i.e. staining, soiling or colour damage.

<li>Poor:</li>
Shows significant signs of wear.
</ul>

